.footer {
  background-color: #afaa9a;
  color: #000000;
  font-weight: bold;
  padding: 20px;
  height: 100px;
  width: 99%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  font-size: 14px;
  margin: 10px 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-link {
  color: #000000;
  font-weight: bolder;
  margin: 0 15px;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  color: #fff;
}
